@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    max-width: 1200px;
    margin: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
}

nav .logo {
    padding: 5px 30px;
    height: 70px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    line-height: 40px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    background:rgba(0, 0, 0, 0.7) ;
    border-radius: 6px;
}

section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.banner {
    width: 100%;
    margin: auto;
    overflow: hidden;
    
}

.banner ul {
    padding: 0;
    display: flex;
    width: 400%;

    animation: cambio 20s infinite alternate;

}

.banner li {
    width: 100%;
    list-style: none;
}

.banner img {
    width: 100%;
    height: 700px;
}

.texto {
    position: relative;
    bottom: 400px;
    left: 420px;
    display: flex;
    flex-direction: column;
    color:black;
    font-size: 20px;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.tienda {
    margin-top: 50px;
    background-color: #f5f5f5;
    padding: 40px 0;
}

.titulo-tienda {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-tienda h2 {
    font-size: 25px;
}

.articulo_tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.producto-flex {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    max-width: 1000px; 
    margin: 0 auto; 
}

.planta {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px); 
    margin-bottom: 20px; 
}

.planta img {
    max-width: 100%;
    height: 400px;
    border-radius: 5px;
}

.planta h2 {
    margin: 10px 0;
    font-size: 18px;
}

.descripcion {
    margin-bottom: 10px;
}

.descripcion h3 {
    font-size: 14px;
    color: #555;
}



.btn-tienda {
    margin-top: 20px;
}

.btn-tienda a {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-tienda a:hover {
    background-color: #c0392b;
}

.post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    text-align: center;
}

.descripcion_post {
    flex: 1;
    padding-right: 20px;
    margin: 0px 200px;
}

.descripcion__post {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.descripcion__post + p {
    color: #777;
    font-size: 20px; 
}


.img-post {
    flex: 1;
    text-align: start;
}

.img-post img {
    width: 250px;
    border-radius: 5px;
    max-height: 400px;
    
}

.fundamento_cuidado {
    max-width: 1200px;
    margin: auto;
}

.fundamento_titulo {
    position: relative;
    left: 300px;
    font-size: 18px;
    margin-bottom: 20px;
}

.contenedor_fundamento {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.fundamento_item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.fundamento_item:nth-child(odd) {
    align-self: flex-start; 
}

.fundamento_item:nth-child(even) {
    align-self: flex-end; 
}

.testimonios {
    margin-top: 50%;
    padding: 60px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.titulo-testimonios h2 {
    margin-bottom: 20px;
}

.lista-testimonios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.testimonio {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.testimonio img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonio p {
    margin: 0 0 10px;
    font-size: 16px;
    color: #555;
}

.testimonio h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}


.contenedor-preguntas {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 80px;
}

.contenedor-preguntas h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}